#first-txt{
    margin: 10px;
    width: 100px ;
    height: 50px;
}
#second-txt{
    margin: 10px;
    width: 100px ;
    height: 50px;
}
.btn{
    margin: 10px;
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
}



#name{
    margin: 10px;
    width: 100px ;
    height: 50px;
}
#email{
    margin: 10px;
    width: 100px ;
    height: 50px;
}
#password{
    margin: 10px;
    width: 100px ;
    height: 50px;
}
#btn{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
}
